doctype html
html
    head
        meta(charset="UTF-8")
        title Toxin
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
    body
        include ../../components/main-header/main-header
