nav.user-navigation
    ul.user-navigation__list
        li.user-navigation__item
            a(class="user-navigation__link" href="#")
                | Войти
        li.user-navigation__item
            a(class="user-navigation__link" href="#")
                | Зарегистрироваться