nav.user-navigation
    ul.user-navigation__list
        li.user-navigation__item
            a(class="user-navigation__link user-navigation__link--sign-in" href="#")
                | Войти
        li.user-navigation__item
            a(class="user-navigation__link user-navigation__link--sign-up" href="#")
                | Зарегистрироваться