nav.main-navigation
    ul.main-navigation__list
        li.main-navigation__item
            a(class="main-navigation__link" href="#")
                | О нас
        li(class="main-navigation__item main-navigation__item--dropdown")
            a(class="main-navigation__link" href="#")
                | Услуги
        li.main-navigation__item
            a(class="main-navigation__link" href="#")
                | Вакансии
        li.main-navigation__item
            a(class="main-navigation__link" href="#")
                | Новости
        li(class="main-navigation__item main-navigation__item--dropdown")
            a(class="main-navigation__link" href="#")
                | Соглашения
