header(class="main-header")
    div(class="main-header__wrapper")
        div(class="main-header__image")
            include ../../images/logo.svg
        |
        include ../main-navigation/main-navigation
        |
        include ../user-navigation/user-navigation
